{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img p-5 mb-5">
        <div class="container">
            <h1 class="display-4">Your Posts Should Live Somewhere <i class="fas fa-user-ninja"></i></h1>
            <p class="lead">And even comments for them should be there too <i class="fas fa-comments"></i></p>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-post">Post a thought</button>
            </div>
        </div>
        <div class="row">
            {% for post in allPosts %}
                <div class="col-12 mb-3">
                    <div style="box-shadow: 2px 4px 8px 4px rgba(174,255,17,0.51);">
                        <div class="q-container p-4">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('images/panda.jpg') }}" width="100" height="100" alt="panda">
                                    <div class="flex-fill pt-2 vote-arrows">
                                        <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                        <span>{{ post.postVotes }}</span>
                                        <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                                    </div>
                                </div>
                                <div class="col">
                                    <a class="q-title"
                                       href="{{ path('app_posts_show', { slug: post.slug }) }}">
                                        <h2>{{ post.title }}</h2></a>
                                    <div class="q-display p-3">
                                        <i class="fa fa-quote-left mr-3"></i>
                                        <p class="d-inline">
                                            {{ post.postBody|parse_markdown }}
                                        </p>
                                        <p class="pt-4"><strong>-- dr_Lao</strong>
                                            <a href="https://t.me/panda_irk">
                                                <i class="fab fa-telegram"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="answer-link" href="{{ path('app_posts_show', { slug: post.slug }) }}"
                           style="color: #fff;">
                            <p class="q-display-response text-center p-3">
                                <i class="fa fa-magic magic-wand"></i> Go to comments
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

