{% extends 'base.html.twig' %}

{% block title %}POST: {{ postTitle }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="my-4">POST</h2>
                <div style="box-shadow: 2px 4px 8px 4px rgba(174,255,17,0.51);">
                    <div class="q-container-show p-4">
                        <div class="row">
                            <div class="col-2 text-center">
                                <img src="{{ asset('images/panda.jpg') }}" width="100" height="100" alt="panda">
                                <div class="mt-3">
                                    <small class="tech-info-likes">
                                        {% if postedAt != "Not posted yet..." %}
                                            Asked<br>
                                            {{ postedAt|ago }}
                                        {% endif %}
                                            {{ postedAt }}
                                    </small>
                                    <div
                                        class="vote-arrows"
                                        {{ stimulus_controller('post-vote', {
                                            url: path('app_posts_vote', {
                                                id: postId
                                                })
                                            })
                                        }}
                                    >
                                        <button
                                            class="vote-up btn btn-link"
                                            name="directionOfVotePost"
                                            value="up"
                                            {{ stimulus_action('post-vote', 'clickVoteOnPost') }}
                                        >
                                            <i class="far fa-arrow-alt-circle-up"></i>
                                        </button>
                                        <span {{ stimulus_target('post-vote', 'votePostTotal') }}>
                                            {{ postVotes }}
                                        </span>
                                        <button
                                            class="vote-down btn btn-link"
                                            name="directionOfVotePost"
                                            value="down"
                                            {{ stimulus_action('post-vote', 'clickVoteOnPost') }}
                                        >
                                            <i class="far fa-arrow-alt-circle-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h1 class="q-title-show">{{ postTitle }}</h1>
                                <div class="q-display p-3">
                                    <i class="fa fa-quote-left mr-3"></i>
                                    <p class="d-inline">{{ postText|markdown }}</p>
                                    <p class="pt-4"><strong>-- dr_Lao</strong>
                                        <a href="https://t.me/panda_irk">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between my-4">
            <h2 class="">Comments <span style="font-size:1.2rem;">({{ postComments|length }})</span></h2>
            <button class="btn btn-sm btn-secondary">Submit a Comment</button>
        </div>


        <ul class="list-unstyled">
            {% for postComment in postComments %}
                <li class="mb-4">
                    <div class="row">
                        <div class="mr-5 pt-5 col-sm">
                            <img src="https://source.unsplash.com/75x75/?portrait={{ random(-10000, 10000) }}"
                                 width="75"
                                 height="75"
                                 alt="placeholder_pic">
                        </div>
                        <div class="mr-3 pt-2 col-lg">
                            {{ postComment.commentBody|striptags|parse_markdown }}
                            <p class="pt-4"><strong>-- {{ postComment.username }}</strong>
                                <a href="https://t.me/{{ postComment.username }}">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-sm text-end">
                            <div
                                class="vote-arrows"
                                {{ stimulus_controller('comment-vote', {
                                    url: path('app_comments_vote', {
                                        id: postComment.id
                                        })
                                    })
                                }}
                            >
                                <button
                                    class="vote-up btn btn-link"
                                    name="directionOfVoteComment"
                                    value="up"
                                    {{ stimulus_action('comment-vote', 'clickVoteOnComment') }}
                                >
                                    <i class="far fa-arrow-alt-circle-up"></i>
                                </button>
                                    <span {{ stimulus_target('comment-vote', 'voteCommentTotal') }}>
                                    {{ postComment.commentVotes }}
                                </span>
                                <button
                                    class="vote-down btn btn-link"
                                    name="directionOfVoteComment"
                                    value="down"
                                    {{ stimulus_action('comment-vote', 'clickVoteOnComment') }}
                                >
                                    <i class="far fa-arrow-alt-circle-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
